header {
    width: 100%;
    height: 120px;
    background-color: rgba(39, 25, 247, 0.253);
    border-radius: 10px;
    padding-top: 10px;
}

header h1 {
    padding: 10px;
    padding-left: 50px;
    background-color: #E6E6FA;
    font-size: 150%;
    border-radius: 20px;
}

header img {
    padding-left: 300px;
    width: 330px;
    height: 100px;
    float: left;
}

body {
    margin: 0;
    background-color: #800080;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EE82EE;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li {
    float: left;
}

h2 {
    border-radius: 15px;
    width: 140px;
    margin: auto;
    text-align: center;
    background-color: #DDA0DD;
}

nav {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

nav a:hover {
    background-color: rgb(255, 1, 1);
}

nav a.active {
    background-color: #7AA899;
}

.block1 {
    margin-top: 20px;
    padding: 10px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: #DDA0DD;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.block2 {
    padding: 10px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #DDA0DD;
    border-radius: 10px;
}

table {
    width: 960px;
    margin: auto;
    background-color: #800080;
    border-radius: 10px;
}

table td {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

table th {
    border-right: 2px solid rgb(255, 255, 255);
    padding: 15px;
}

.nechet td {
    color: rgb(255, 255, 255);
    background-color: rgb(10, 0, 0);
}

.block {
    padding: 10px;
    width: 960px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E6E6FA;
    border-radius: 10px;
    padding-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=date] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

input[type=radio] {
    padding: 12px 20px;
}

input[type=date] {
    border: 1px solid #E6E6FA
}

select option {
    padding: 5px;
    border-bottom: 1px solid rgb(156, 155, 155);
}

textarea {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    resize: none;
    border: 1px solid #E6E6FA
}

footer {
    width: 100%;
    height: 130px;
    background-color: rgba(63, 57, 153, 0.253);
    border-radius: 10px;
}

footer h1 {
    width: 100%;
    margin: 0;
    text-align: center;
}

footer img {
    width: 10px;
    height: 200px;
}

table td {
    text-align: center;
}


